
.main.container {
    margin-top: 7em;
}

.ui.progress {
    max-width: 80%;
}

.bar {
    margin-top: 6px;
}

.description {
    margin-top: 5px;
}

i.terminal.small.icon {
    margin-top: 5px;
}

.ui.footer.segment {
    margin-top: 100px;
    z-index: 10;
}

.ui.segment {
    font-size: 100%;
}

.ui.rail {
    max-width: 100px;
}

p.sangria {
    text-indent: 5px;
}

i.hand {
    transform: translateX(40px);
}

#direccion-sangria {
    transform: translateX(35px);
}

#sticky-menu {
    position: fixed;
    z-index: 10;
}

#github, #mail {
    color: blue;
}

@media (max-width: 1285px) {
    .hidden-xs {
        display: none !important;
    }
}

@media (min-width: 1286px) {
    .hidden-xl {
        display: none !important;
    }
}