
.main.container {
    margin-top: 7em;
}

.ui.progress {
    max-width: 80%;
}

.bar {
    margin-top: 6px;
}

.description {
    margin-top: 5px;
}

i.terminal.small.icon {
    margin-top: 5px;
}

.ui.footer.segment {
    margin-top: 100px;
}